nav {
  background-color: #003399;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24pt;
  border-bottom: 1px solid grey;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0px 0px 5px;
}

nav li {
  float: left;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: white;
}

nav .login-button {
  float: right;
  background-color: white;
  color: #003399;
  font-size: 16pt;
  font-weight: bold;
  border-radius: 5px;
  margin: 3px 10px 3px 0;
  padding: 5px 10px;
}

nav .login-button:hover {
  cursor: pointer;
}

nav .user {
  margin-top: 1px;
  margin-right: 5px;
  float: left;
  height: 40px;
  text-align: left;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.logged-in-as {
  float: right;
  display: flex;
}

nav .logout-button {
  margin: 0 10px;
  height: 40px;
}

nav .logout-button:hover {
  cursor: pointer;
}