.user {
  /* border: 1px solid green; */
  margin-top: 12px;
  height: 40px;
  text-align: left;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.avatar img {
  height: 40px;
  width: 40px;
}

.user p {
  margin: 4px;
  font-size: 10pt;
}